# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
expose/

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.dist/
.cache/

# Si tu utilises un mode statique avec Nuxt
static-dist/

# Visual Studio Code
.vscode/

init-mongo.js
.terraform/
.terraform.*